<h1>Edit This Play</h1>

<%= simple_form_for @play ,:html => { multipart: true , :class => "form-horizontal image" } do |f| %>
<% if user_signed_in? && current_user.id == @play.user_id %>
<%#= select_tag(:category_id , options_for_select(@categories) , :prompt => "seLect a catEgory") %>
	<%=f.file_field :play_img %>
	<%= f.select :category_id , @categories %>
  <%= f.input :title , label: "Play Title"%>
  <%= f.input :description %>
  <%= f.input :director %>
  <%= f.button :submit %>
  <% else %>
  <h1>you are not allowed to do this !! ;) </h1>
  <% end %>
<% end %>