<% if user_signed_in? %>
<h1 class="current-category"><%= params[:category] %></h1>
<% if @plays.count == 0 %>
<h3><%= @plays.count %> plays in this category</h3>
<% else %>
<h3 class="border">TotalPlays: <%= @plays.count %> </h3>

<% @plays.each do |ply| %>
<h1><%= link_to (ply.title) , play_path(ply)%></h1>
<blockquote>by: <%= ply.director %></blockquote>
<% end %>
<% end %>
<% end %> 